# Node.js 관련
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Webpack 출력물
dist/

# 빌드된 Electron 애플리케이션
build/
*.asar

# OS/IDE 관련
.DS_Store
Thumbs.db
*.log
*.tmp

# 환경 변수
.env
.env.local
.env.development
.env.production
.env.test

# Babel 캐시
.babelrc.cache

# Electron 캐시/컴파일된 파일
electron-out/
